<!DOCTYPE html>
<html data-theme="emerald">
  <head>
    <title>Chronoblock</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.jsx' %>
    <%= vite_stylesheet_tag "application" %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
